@import url('https://rsms.me/inter/inter.css');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
    @keyframes shimmerBackground {
        0% {background-color: #f4f4f4}
        50% {background-color: #eaeaea}
        100% {background-color: #f4f4f4}
    }
    
    .shimmer {
        background-color: #f4f4f4;
        animation: shimmerBackground 1.5s ease-in-out infinite;
    }
    
    @keyframes shimmerBackgroundDarker {
        0% {background-color: #eaeaea}
        50% {background-color: #dadada}
        100% {background-color: #eaeaea}
    }
    
    .shimmer-darker {
        background-color: #eaeaea;
        animation: shimmerBackgroundDarker 1.5s ease-in-out infinite;
    }

    html, body, #root {
        background-color: #fff;
    }
}

@media (prefers-color-scheme: dark) {
    @keyframes shimmerBackground {
        0% {background-color: #212121}
        50% {background-color: #333333}
        100% {background-color: #212121}
    }
    
    .shimmer {
        background-color: #212121;
        animation: shimmerBackground 1.5s ease-in-out infinite;
    }
    
    @keyframes shimmerBackgroundDarker {
        0% {background-color: #333333}
        50% {background-color: #3c3c3c}
        100% {background-color: #333333}
    }
    
    .shimmer-darker {
        background-color: #333333;
        animation: shimmerBackgroundDarker 1.5s ease-in-out infinite;
    }

    html, body, #root {
        background-color: #111;
    }
    
    #MSSignInButton > path {
        fill: #fff;
    }
}